@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

$base-color: #1FA181;
$button-color: #0DBC91;
$button-hover: #00D29F;
$base-font-color: #364844;
$footer-color: #08664F;

body{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
}

[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
}

/*------------------header------------------*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.nav__container{
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
}


.burger{
    display: none;
}
.close-icon {
    display: none;
}

.header__info {
    padding: 12px 0px 12px 0px;

    .adress{
        display: flex;
        align-items: flex-start;
        max-width: 133px;
        margin-right: 487px;

        .adress-link{
            font-family: 'PT Sans Caption', sans-serif;
            font-size: 14px;
            text-decoration: none;
            color: $base-font-color;
            span{
                opacity: 75%;
            }
        }
    }
}

.phone{
    display: flex;
    align-items: center;
    gap: 9px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $base-font-color;
    margin-right: 35px;
}

.header__nav {
    background-color: $base-color;
    padding: 10px 0px 10px 0px;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .item-link{
        font-family: 'PT Sans Caption', sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        transition: all .2s ease;
        &:hover{
            color: #c7c7c7;
        }
    }
}

.button{
    font-size: 14px;
    line-height: 21px;
    padding: 12px 24px;
    border: 0;
    border-radius: 50px;
    color: #FFFFFF;
    transition: all .2s ease;
}

.info_button{
    background-color: $button-color;
    &:hover, &:active, &:focus{
        background-color: $button-hover;
    }
}

.nav_button{
    display: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: $base-color;
}


/*------------------header end------------------*/

.main{
    padding-top: 100px;
}

/*------------------intro-----------------------*/

.intro{
    background: url(../images/introbg.png) no-repeat right;
    margin-bottom: 100px;
}

.intro__container{
    padding: 144px 15px 162px 0px;
}

.intro__title{
    max-width: 355px;
    margin-bottom: 24px;
    .title{
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        color: $base-font-color;
    }
}

.intro__desc{
    max-width: 367px;
    .desc{
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $base-font-color;
    }
}


/*------------------intro end-----------------------*/

/*----------------Check-up------------------*/

.check-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    padding-bottom: 160px;
}

.check-up__wrapper{
    background: url(../images/checkUpBg.png) no-repeat top right;
    border-radius: 5px 5px 0px 0px;
    .check-up__description{
        padding: 53px 664px 56px 63px;
        background: url(../images/checkUpDescBg.svg) no-repeat top left;
    }
}


.check-up__title{
    margin-bottom: 16px;
    .title_desc{
        max-width: 181px;
        font-weight: 700;
        font-size: 38px;
        line-height: 49px;
        text-transform: uppercase;
    }
    span {
        font-weight: 700;
        font-size: 22px;
        color: $base-font-color;
    }
}
.check-up__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 33px;
    .list__item{
        padding-left: 15px;
        background: url(../images/pointList.svg) no-repeat 0 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: $base-font-color;
    }
}
.check-up__price{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 26px;
    span{
        margin-left: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #868686;
        text-decoration-line: line-through;

    }
}

.check-up_button_green{
    padding: 11px 59px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color: $button-color;
    margin-right: 14px;
    &:hover, &:active, &:focus{
        background-color: $button-hover;
    }
}
.check-up_button{
    padding: 11px 59px;
    color: $button-color;
    border: 1px solid $button-color;
    &:hover, &:active, &:focus{
        background-color: $button-color;
        color: #FFFFFF;
    }
}

.check-up__paginator{
    display: flex;
    align-items: center;
    gap: 36px;
    .counter{
        display: flex;
    }
}


/*----------------Check-up end------------------*/

/*----------------footer------------------*/


.footer{
    padding: 54px 0px;
    background-color: $footer-color;
}

.footer__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .item-link{
        font-family: 'PT Sans Caption', sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        transition: all .2s ease;
        &:hover{
            color: #c7c7c7;
        }
    }
}



/*----------------footer end------------------*/





/*--------------Media----------------------*/

@media(max-width: 426px){
    .burger{
        display: block;
    }
    .info_button{
        display: none;
    }
    .logo{
        width: 62px;
        height: 18px;
        margin-left: 43px;
    }

    .wrapper__info{
        flex-direction: column-reverse;
        align-items: flex-end;
    
    }

    .header__info{
        padding: 15px 18px;
        .adress{
            margin-right: 0;
            .adress-icon{
                display: none;
            }
            .adress-link{
                font-size: 13px;
                outline: none;
            }
            span{
                display: none;
            }
        }
    }

    .phone{
        font-weight: 700;
        margin-right: 0;
    }

    .phone-icon{
        display: none;
    }



    .header__nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 65px;
        left: 0;
        background: rgba(69, 146, 127, 0.9);
        backdrop-filter: blur(2px);
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: 1s all cubic-bezier(0.42, 0, 0, 1.29);
        -o-transition: 1s all cubic-bezier(0.42, 0, 0, 1.29);
        transition: 1s all cubic-bezier(0.42, 0, 0, 1.29);
    }
    .header__nav_active{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    .nav__container{
        flex-direction: column;
        align-items: flex-start;
        gap: 39px;
    }

    .nav__list{
        flex-direction: column;
        gap: 10px;
        padding: 48px 0px 0px 18px;
        .item-link{
            font-family: 'PT Sans Caption', sans-serif;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .nav_button{
        display: block;
        margin-left: 18px;
    }
    /*-------------header end----------------*/

    .main{
        padding-top: 65px;
    }

    /*----------------intro------------------*/

    .intro{
        background: url(../images/introbg.png) no-repeat top center;
        background-size: 100%;
        margin-bottom: 49px;
    }

    .intro__container{
        padding: 270px 15px 53px 18px;
    }

    .intro__title{
        max-width: 267px;
        margin-bottom: 10px;
        .title{
            font-weight: 700;
            font-size: 26px;
            line-height: 34px;
        }
    }

    .intro__desc{
        max-width: 340px;
        .desc{
            font-size: 14px;
        }
    }

    /*-----------intro end-----------*/
    /*------------checkup---------------*/

    .check-up__wrapper{
        background: url(../images/checkUpBg.png) no-repeat top center;
        background-size: 100%;
        padding-top: 230px;
        .check-up__description{
            padding: 22px 30px 42px 22px;
            background: none;
            background-color: #E2F0EF;
        }
    }
    .check-up__title{
        margin-bottom: 12px;
        .title_desc{
            font-size: 26px;
            line-height: 34px;
        }
        span {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .check-up__list{
        margin-bottom: 17px;
        .list__item{
            font-size: 14px;
            line-height: 145%;
        }
    }
    .check-up__price{
        font-size: 18px;
        line-height: 23px;
        span{
            font-size: 14px;
            line-height: 18px;
        }
    }
    .check-up_button_green{
        padding: 11px 29px;
        font-size: 14px;
        line-height: 21px;
        margin-right: 6px;
    }
    .check-up_button{
        padding: 11px 29px;
    }

    /*---------------footer--------------*/

    .footer__container{
        align-items: flex-start;
        row-gap: 31px;
        column-gap: 50px;
        padding: 0px 15px;
    }

    .footer-list{
        order: 1;
        flex-direction: column;
        gap: 15px;
    }
    .social_img{
        width: 24px;
        height: 23px;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }


}

